on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun ci

      - name: Build extension
        run: bun run zip

      - uses: ncipollo/release-action@v1
        with:
          artifacts: ".output/*.zip"
